/* Import Font Dancing Script */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --black: #000;
  --aliceBlue: #F0F8FF;
  --blue: #0057FF;
  --lightBlue: #5D94FF;
}

.title {
  font-family: "Dancing Script", cursive;
}

#profile {
  margin-top: 70px;
  padding-top: 30px;
}

#profile .content {
  display: flex;
  align-items: start;
}

#profile .profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px;
}

#profile .profile-picture img {
  width: 150px;
  border-radius: 50%;
}

#profile .box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

#profile .profile-info .profile-name {
  font-size: 18px;
  font-weight: 600;
}

#profile .profile-info .profile-email {
  font-size: 14px;
  color: #999;
}

#profile .profile-info .profile-bio {
  font-size: 14px;
  margin-top: 7px;
}

#profile .profile-info .quoter {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

#profile .profile-info .box .btn-edit-profile {
  margin-top: 14px;
  text-align: center;
  background-color: #0057FF;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#profile .profile-info .box .btn-edit-profile:hover {
  background-color: #0045b3;
  transition: 0.2s;
}

#read {
  margin:35px 0;
}