:root {
    --black: #000;
    --aliceBlue: #F0F8FF;
    --blue: #0057FF;
    --lightBlue: #5D94FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--black);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .logo {
    color: var(--lightBlue);
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.navbar .search-form {
    display: flex;
    align-items: center;
    background-color: var(--aliceBlue);
    width: 400px;
    padding: 0 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 17px;
    border: none;
    background: none;
    padding: 7px;
}

.navbar .search-form input:focus {
    outline: none;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 20px;
}

.navbar .menu a {
    color: #FFF;
    background-color: var(--lightBlue);
    padding: 7px 14px;
    margin-right: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.hero {
    height: 100vh;
    width: 100vw;
    background: url('../img/bg2.jpg') no-repeat center / cover;
}

#books {
    height: 100vh;
    margin-top: 20px;
    padding: 7px 21px;
}

#books .content-books .kategori-list {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 16px;
}

#books .content-books .kategori-list li a{

    color: #000;
}

#books .content-books .kategori-list li {
    border: 1px solid #000;
    padding: 5px 14px;
    font-size: 17px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#books .content-books .kategori-list li:hover {
    cursor: pointer;
    background-color: var(--lightBlue);
    color: #000;
}

#books .content-books .wrapper {
    margin-top: 20px;
}

#books .content-books .wrapper h1 {
    margin: 10px 0;
}

#books .books-list {
    display: flex;
    align-items: center;
    gap: 21px;
    overflow-x: auto;
    padding: 21px;
}

.books .books-list .card {
    /* border: 2px solid red; */
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background: var(--aliceBlue);
    box-shadow: 8px 8px 5px #efefef,
        -8px -8px 5px #FFFFFF;
    }
    
    #books .books-list .card .card-body {
        margin-top: 10px;
    }
    
    .books .books-list .card img {
        aspect-ratio: 4/5;
        object-fit: fill;
        width: 150px;
        box-shadow:  3px 3px 5px #e0e0e0,
             -3px -3px 5px #e0e0e0;

}

#books .books-list .card .card-author {
    font-size: 12px;
    color: #525252;
}
#books .books-list .card .card-title {
    font-size: 17px;
    margin-top: 7px;
}