:root {
    --black: #000;
    --aliceBlue: #F0F8FF;
    --blue: #0057FF;
    --lightBlue: #5D94FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--black);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .logo {
    color: var(--lightBlue);
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.navbar .search-form {
    display: flex;
    align-items: center;
    background-color: var(--aliceBlue);
    width: 400px;
    padding: 0 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 17px;
    border: none;
    background: none;
    padding: 7px;
}

.navbar .search-form input:focus {
    outline: none;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 20px;
}

.navbar .menu a {
    color: #FFF;
    background-color: var(--lightBlue);
    padding: 7px 14px;
    margin-right: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}